body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Baskerville;
}

#container {
    width: 500px;
    margin: 0 auto 20px;
    background: #fff;
    border: solid 5px #38342b;
    border-radius: 5px;
}

#header {
    margin: 20px auto 0;
    width: 500px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#header h1 {
    margin: 0;
}

#menu {
    background: #ddd;
    padding: 10px;
    position: relative;
    height: 30px;
}

#content {
    padding: 30px;
    min-height: 300px;
    line-height: 1.4;
}

#footer {
    background: #ccc;
    color: #333;
    font-size: 11px;
    padding: 10px;

}

.word-data {
    -x-background: #ffffee;
}

.current-word {
    background: yellow;
    outline: solid 2px yellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.aligned-word:hover {
    cursor: pointer;
    background: #FEFFDC;
}