deprecated
streamtologger
tabulate
librosa
python_speech_features
Unidecode
lxml
webrtcvad
numpy
matplotlib
scipy
tqdm
pygit2
tensorflow
pydub
PyHamcrest
google-cloud-speech
soundfile
langdetect
pattern3