deprecated
streamtologger
tabulate
librosa
python_speech_features==0.6
Unidecode==1.0.22
lxml==4.2.1
webrtcvad==2.0.10
numpy==1.14.3
matplotlib==2.1.2
scipy==1.0.0
tqdm==4.19.4
pygit2==0.27.0
tensorflow==1.8.0
pydub==0.21.0
PyHamcrest==1.9.0
google-cloud-speech
soundfile